@import "https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/dotum.min.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'LINE Seed';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-title: "LINE Seed", sans-serif;
  --font-body: "KoPub World Dotum", sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

.font-title {
  font-family: var(--font-title);
}

.font-body {
  font-family: var(--font-body);
}
